

@font-face {
	font-family: 'Asul';
	src: url('Asul-Regular.ttf') format('truetype');
}

#s0 {
	
	font-family: 'Asul';
	font-size: 2.00pc;
	line-height: 2.0pc;
	padding-left: 1.0pc;
	padding-top: 1.0pc;
	color: rgb(0.0, 0.0, 0.0);
	background-color: rgb(242.0, 242.0, 242.0);
}

.navigation {
	margin-bottom: 3.0pc;
	display: inline;
	margin-right: 11pc;
	line-height: 8pc;
}

.navigation p {
}

.p1 {
	padding-left: 1.0pc;
	padding-bottom: 2.0pc
}

.footer {
	padding-top: 21.0pc;
}

