
 /* html */

 /* body */



@font-face {
	font-family: 'Asul';
	src: url('Asul-Regular.ttf') format('truetype');
}

#s0 {
	
	font-family: 'Asul';
	font-size: 2.00pc;
	line-height: 2.0pc;
	padding-left: 1.0pc;
	padding-top: 0.0pc;
	color: rgb(0.0, 0.0, 0.0);
	/*background-color: rgb(242.0, 242.0, 242.0);*/
}

.navigation {
	padding-bottom: 3.0pc;
}

.navigation p {
	/*display: inline;*/
	padding-right: 1.0pc;
	line-height: 2.0pc;
}

.p1 {
	padding-left: 1.0pc;
	padding-bottom: 0.0pc
}

.footer {
	padding-top: 3.10pc;
}

