
 /* html */

 /* body */



@font-face {
	font-family: 'Asul';
	src: url('Asul-Regular.ttf') format('truetype');
}

#s0 {
	line-height: 0.6pc;
    color: #0C0F13;
	font-family: 'Asul';
	/*background-color: rgb(242.0, 242.0, 242.0);*/
}

.navigation {
	margin-bottom: 3.0pc;
    background-color: #589C59;
    padding-left: 1.0pc;
    padding-top: 1.0pc;
    padding-bottom: 1.0pc;
}

.navigation p {
	/*display: inline;*/
	padding-right: 1.0pc;
}

.p1 {
	margin-left: 2.0pc;
	padding-bottom: 0.0pc
}

.footer {
	margin-top: 4.0pc;
    font-size: 0.2pc;
    background-color: #36516E;
    padding: 1.0pc 0.0;
}

