
@font-face {
	font-family: 'Asul';
	src: url('Asul-Regular.ttf') format('truetype');
}

body {
	
	font-family: 'Asul';
	font-size: 2.000pc;
	margin-left: 10.0pc;
	margin-top: 14.0pc;
}

body p {
	line-height: 3pc;
}

.navigation {
	margin-bottom: 4pc;
}

.navigation p {
	display: inline;
	margin-right: 11pc;
	line-height: 8pc;
}

.p1 {
	margin-left: 3pc;
}

.footer {
	margin-top: 25pc;
}

